@{
    ViewData["Title"] = "Product Page";
}

<div class="container">
    <div class="form-body">
        <div class="row">
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3>Внеси нов продукт</h3>
                        <form id="productform" class="requires-validation" novalidate>
                            <div class="col-md-12">
                                <input class="form-control" id="txtTitle" type="text" name="title" placeholder="Назив" required>
                            </div>
                            <div class="col-md-12">
                                <input class="form-control" id="txtDescription" type="text" name="description" placeholder="Опис" required>
                            </div>
                            <div class="col-md-12">
                                <input class="form-control" id="txtQuantity" type="text" name="quantity" placeholder="Количина" required>
                            </div>
                            <div class="col-md-12">
                                <input class="form-control" id="txtAmount" type="text" name="amount" placeholder="Цена" required>
                            </div>
                            <div class="form-button col-md-3 mt-3">
                                <button id="btnsubmit" type="button" class="btn btn-primary">Сними</button>
                            </div>
                            @* <div class="col-md-9">
                                <div class="valid-feedback mv-up">asdafsd</div>
                            </div> *@
                         </form>
                        <p class="mt-3" id="valid-feedback">Продуктот е додаден успешно!!!</p>
                        <p class="mt-3" id="invalid-feedback">Има грешка во запишувањето!!!</p>
                       @*  <h2>Додади нов продукт</h2>
                        <form id="productform">
                            <table>
                                <tr>
                                    <td>Назив</td>
                                    <td><input id="txtTitle" name="title" type="text" /></td>
                                </tr>
                                <tr>
                                    <td>Опис</td>
                                    <td><input id="txtDescription" name="description" type="text" /></td>
                                </tr>
                                <tr>
                                    <td>Количина</td>
                                    <td><input id="txtQuantity" name="quantity" type="text" /></td>
                                </tr>
                                <tr>
                                    <td>Цена</td>
                                    <td><input id="txtAmount" name="amount" type="text" /></td>
                                </tr>
                            </table>
                            <input id="btnsubmit" type="button" value="Сними" />
                        </form> *@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


